doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title stesan
    link(rel="stylesheet", href="style.css")
  body(onmousemove="rotateStesan(event)")
    .stesan
      - for (var i = 1; i <= 64; i++)
        - var column = i % 8
        - var row = (i - (i % 8)) / 8 +1
        div(class=`stesan__${i} r__${row} c__${column}`)
    script(src="main.js") 
